/*=================================================================
  News
==================================================================*/
.news-bar {
  p {
    font-size:18px;
    margin-bottom:0;
    span {
      font-style: italic;
      font-size:30px;
      color: rgba(187, 187, 187, 0.34);
      display: inline-block;
      vertical-align: middle;
    }
  }
  .progress {
    height:6px;
    border-radius:0;
    .progress-bar {
      background: $primary-color;
    }
  }
  li:not(:last-child) {
    margin-bottom: 25px;
  }
}

.news-item {
  display: flex;
  margin-bottom: 13px;
}

.news-date {
  width: 120px;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 16px;
}

.news-content {
  flex-grow: 1;
  font-size: 16px;
}

/* Gallery hover effect */
.gallery-item {
  margin-bottom: 20px;
}

.gallery-photo {
  overflow: hidden;
  position: relative;
  
  &:hover img {
    transform: scale(1.2);
  }
  
  img {
    transition: all 0.4s ease 0s;
    width: 100%;
  }
  
  .mask {
    background-color: rgba($primary-color, .7);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .5s ease-out 0s;
    transform: rotateY(180deg) scale(0.5, 0.5);
    
    .gallery-action {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      .btn-transparent {
        border: 1px solid $white;
        color: $white;
        background: transparent;
        padding: 10px 20px;
        font-weight: 500;
        
        &:hover {
          background-color: $white;
          color: $primary-color;
          border: 1px solid transparent;
        }
      }
    }
  }
  
  &:hover .mask {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
    transform: rotateY(0deg) scale(1, 1);
  }
}


