<!--
		Start About Section
		==================================== -->
<section class="bg-one about section">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2>About <span class="color">Us</span> </h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- About item -->
			<div class="col-md-4 col-lg-1-5 text-center wow fadeInUp" data-wow-duration="500ms">
				<div class="block">
					<div class="icon-box">
						<img src="images/about/icons/run.png" alt="Motion Icon" class="custom-icon">
					</div>
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3 class="ddd">Motion</h3>
					</div>
				</div>
			</div>
			<!-- End About item -->

			<!-- About item -->
			<div class="col-md-4 col-lg-1-5 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
				<div class="block">
					<div class="icon-box">
						<img src="images/about/icons/analysis.png" alt="Analysis Icon" class="custom-icon">
					</div>
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>Analysis</h3>
					</div>
				</div>
			</div>
			<!-- End About item -->

			<!-- About item -->
			<div class="col-md-4 col-lg-1-5 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
				<div class="block kill-margin-bottom">
					<div class="icon-box">
						<img src="images/about/icons/generation.png" alt="Generation Icon" class="custom-icon">
					</div>
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>Generation</h3>
					</div>
				</div>
			</div>
			<!-- End About item -->

			<!-- About item -->
			<div class="col-md-4 col-lg-1-5 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
				<div class="block">
					<div class="icon-box">
						<img src="images/about/icons/interaction.png" alt="Interaction Icon" class="custom-icon">
					</div>
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>Interaction</h3>
					</div>
				</div>
			</div>
			<!-- End About item -->

			<!-- About item -->
			<div class="col-md-4 col-lg-1-5 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
				<div class="block kill-margin-bottom">
					<div class="icon-box">
						<img src="images/about/icons/creation.png" alt="Creation Icon" class="custom-icon">
					</div>
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>Creation</h3>
					</div>
				</div>
			</div>
			<!-- End About item -->

		</div> <!-- End row -->
		
	</div> <!-- End container -->
</section> <!-- End section -->