<section class="section about-2 padding-0 bg-dark" id="about">
    <div class="container-fluid p-0">
        <div class="row no-gutters align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="images/about/about2.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="content-block">
                    <h2>About Magic</h2>
                    <p>MAGIC隶属于上海大学，上海电影特效工程研究中心（省部级），我们专注AI&EI for Art领域的系列研究。我们的目标是让人工智能和具身智能技术，赋能影视、戏剧、游戏、文旅等艺术领域的发展和创新。实验室的研究方向包括：</p>
                    
                    <ol>
                        <li>
                            <p>面向影视、戏剧、游戏、文旅领域的数字内容理解与生成</p>
                            <ul>
                                <li>场景：对不同尺度的艺术场景、及物体进行符合剧本叙事的理解与生成；</li>
                                <li>人：从动作、表情、语音、情感等一切人类所有的属性制作各种类型的虚拟演员；</li>
                                <li>其他：对前期、中期、后期制作（如剧本、预演、拍摄、声音、灯光、剪辑、调色、宣发等）进行理解与生成；</li>
                            </ul>
                        </li>
                        <li>
                            <p>人机交互（如，智能片场、智能游戏、智能剧场等），与上海电影学院、上海戏剧学院的艺术家合作，开发面向应用场景的机器人。</p>
                        </li>
                        <li>
                            <p>AI&EI艺术创作，与实验室的导演/编剧方向的MFA艺术硕士合作，用技术赋能艺术创作，尝试催生新的艺术形式（如AIGC Film）。</p>
                        </li>
                    </ol>

                    <p>我们追求自由与理性，努力营造开放、团结、活泼的研究氛围，鼓励跨领域的交流与合作：</p>
                    <ul>
                        <li>每周组会有<strong>一对一</strong>和<strong>小组讨论</strong>两种形式，根据实际需求进行。</li>
                        <li>实验室不定期组织<strong>讨论班</strong>，如CV、CG、ML顶会Oral论文围读会，新技术讲习会等，根据实际需求进行，让每位同学掌握学术最前沿动态、更新知识。</li>
                        <li>论文方面，我们追求并鼓励投稿计算机视觉、计算机图形学、机器学习方向的顶级会议和期刊（如SIGGRAPH、SIGGRAPH Asia、CVPR、ICCV、ECCV、ICLR、ICML、NeurIPS等）</li>
                        <li>提供足够的研究资金和硬件设施，以及知名实验室和头部公司合作实习的机会。</li>
                    </ul>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="media">
                                <div class="pull-left">
                                    <i class="tf-circle-compass"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">SEO Optimized</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus consectetur dolores repellendus
                                        eos saepe</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <div class="pull-left">
                                    <i class="tf-hotairballoon"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Easy Customization</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus consectetur dolores repellendus
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>