 <!--
Welcome Slider
==================================== -->

 <section class="hero-area overlay" style="background-image: url('images/banner/hero-area.jpg');">
 	<!-- <video autoplay muted loop class="hero-video">
		<source src="images/banner/hero-video.mp4" type="video/mp4">
	</video> -->
 	<div class="block">
		<img src="images/logos/logo_white_small.png" alt="Your Logo" class="hero-logo">
		<p>Motion Picture<span class="separator">·</span>Analysis<span class="separator">·</span>Generation<span class="separator">·</span>Interaction<span class="separator">·</span>Creation</p>
 		<a href="#services" class="btn btn-transparent smooth-scroll">Explore Us</a>
 	</div>
 </section>