<!-- Start Team Skills
        =========================================== -->

<section id="news" class="parallax-section section section-bg overly">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>News</h2>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div> <!-- End row -->
        <div class="row">
            <!-- Left column for gallery -->
            <div class="col-md-6">
                <div id="gallery-post" class="media-wrapper">
                    <div class="gallery-item">
                        <div class="gallery-photo">
                            <!-- gallery photo -->
                            <img src="images/about/about1_small.jpg" alt="blog post" class="img-fluid">
                            <!-- /gallery photo -->
                            
                            <!-- gallery overlay with button -->
                            <div class="mask">
                                <div class="gallery-action">
                                    <a href="news.html" class="btn btn-transparent">Learn More</a>
                                </div>
                            </div>
                            <!-- /gallery overlay with button -->
                        </div>
                    </div>
                    <div class="gallery-item">
                        <div class="gallery-photo">
                            <!-- gallery photo -->
                            <img src="images/about/about2_small.jpg" alt="blog post | Meghna" class="img-fluid">
                            <!-- /gallery photo -->
                            
                            <!-- gallery overlay with button -->
                            <div class="mask">
                                <div class="gallery-action">
                                    <a href="news.html" class="btn btn-transparent">Learn More</a>
                                </div>
                            </div>
                            <!-- /gallery overlay with button -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right column for progress bars -->
            <div class="col-md-6">
                <ul class="news-bar">
                    <li class="news-item">
                        <span class="news-date"><strong>July 5, 2025</strong></span>
                        <span class="news-content">One paper accepted to ACMMM2025!</span>
                      </li>
                    <li class="news-item">
						<span class="news-date"><strong>June 30, 2025</strong></span>
                        <span class="news-content">Congratulations to Chengshuo Zhai and Shengxiang Yao on graduating from the research group!</span>
					</li>
					<li class="news-item">
						<span class="news-date"><strong>Mar 16, 2025</strong></span>
						<span class="news-content">Three papers were accepted in CVPR2025！</span>
					</li>
					<li class="news-item">
						<span class="news-date"><strong>Dec 21, 2024</strong></span>
						<span class="news-content">Two papers were accepted in ICASSP2025！</span>
					</li>
                    <li class="news-item">
						<span class="news-date"><strong>Dec 11, 2024</strong></span>
						<span class="news-content">One paper was accepted in AAAI2025！</span>
					</li>
                    <li class="news-item">
						<span class="news-date"><strong>Nov 01, 2024</strong></span>
						<span class="news-content">Granted by the Shanghai ‘Science and Technology Innovation Action Plan’ Natural Science Fund（上海市“科技创新行动计划”自然科学基金项目）</span>
					</li>
                    <li class="news-item">
						<span class="news-date"><strong>Aug 25, 2024</strong></span>
						<span class="news-content">Granted by the National Natural Science Foundation of China （国家自然科学基金青年科学基金项目）</span>
					</li>
                </ul>
            </div>
        </div>
    </div> <!-- End container -->
</section> <!-- End section -->