<!-- 
Start Our Team
=========================================== -->

<section id="People" class="section">
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center wow fadeInUp" data-wow-duration="500ms">
					<h2>Team <span class="color">Member</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- 李梦甜 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/MengtianLi.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="https://mengtianli.github.io/">
										<img src="images/social/Personal.png" alt="Personal" class="social-img">
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://www.xiaohongshu.com/user/profile/58af17f65e87e775fa546d64">
										<img src="images/social/xiaohongshu.png" alt="xiaohongshu" class="social-img">
									</a>
								</li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Mengtian Li</h4>
						<span>Assistant Professor</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->

				</div>
			</div>
			<!-- end 李梦甜 -->

			<!-- 谢志峰 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/ZhifengXie.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Zhifeng Xie</h4>
						<span>Associate Professor</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->

				</div>
			</div>
			<!-- end 谢志峰 -->

			<!-- ====================分割线==================== -->
			<div class="container mt-5 mb-5">
				<div class="row">
					<div class="col-lg-12">
						<div class="border"></div>
					</div>
				</div>
			</div>
			<!-- ====================分割线==================== /-->

			<!-- 翟承硕 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/ChengshuoZhai.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Chengshuo Zhai</h4>
						<span>Master Student (Graduated)</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 翟承硕 -->

			<!-- 姚声祥 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/ShengxiangYao.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Shengxiang Yao</h4>
						<span>Master Student (Graduated)</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 姚声祥 -->

			<!-- 杨凡 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/FanYang.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Fan Yang</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 杨凡 -->
			
			<!-- 白云舒 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/YunshuBai.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Yunshu Bai</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 白云舒 -->

			<!-- 戴坤延 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/KunyanDai.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Kunyan Dai</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 戴坤延 -->

			<!-- 陆毓炜 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/YuweiLu.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a href="https://space.bilibili.com/23208863?spm_id_from=333.1007.0.0">
										<img src="images/social/bilibili.png" alt="Bilibil" class="social-img">
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://www.yuilu.space/">
										<img src="images/social/Personal.png" alt="Personal" class="social-img">
									</a>
								</li>
								<li class="list-inline-item">
									<a href="https://www.zhihu.com/people/zhang-jia-hui-55-74">
										<img src="images/social/zhihu.png" alt="zhihu" class="social-img">
									</a>
								</li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Yuwei Lu</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 陆毓炜 -->

			<!-- 熊思帆 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/SifanXiong.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Sifan Xiong</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 熊思帆 -->
			
			<!-- 郭心如 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/XinruGuo.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Xinru Guo</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 郭心如 -->

			<!-- 范艺严 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/YiyanFan.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Yiyan Fan</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 范艺严 -->

			<!-- 熊瑞雪 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/RuixueXiong.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Ruixue Xiong</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 熊瑞雪 -->

			<!-- 曾佳祎 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/JiayiZeng.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Jiayi Zeng</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 曾佳祎 -->
			
			<!-- 张鈺坤 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/YukunZhang.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">YukunZhang</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 张鈺坤 -->
			
			<!-- 杨琳 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Postgraduate/LinYang.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">LinYang</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 杨琳 -->

			<!-- ====================分割线==================== -->
			<div class="container mt-5 mb-5">
				<div class="row">
					<div class="col-lg-12">
						<div class="border"></div>
					</div>
				</div>
			</div>
			<!-- ====================分割线==================== /-->

			<!-- 李菲菲 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Undergraduate/FeifeiLi.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">FeifeiLi</h4>
						<span>Undergraduate Internship</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 李菲菲 -->
			
			<!-- 秦博涛 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Undergraduate/BotaoQing.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">BotaoQing</h4>
						<span>Undergraduate Internship</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 秦博涛 -->

			<!-- 潘奕宸 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Undergraduate/YichenPan.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">YichenPan</h4>
						<span>Undergraduate Internship</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 潘奕宸 -->

			<!-- 丁乙 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Undergraduate/YiDing.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">YiDing</h4>
						<span>Undergraduate Internship</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 丁乙 -->

			<!-- 褚依敏 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Undergraduate/YimingChu.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">YimingChu</h4>
						<span>Undergraduate Internship</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 褚依敏 -->

			<!-- 林小茹 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Undergraduate/XiaoruLin.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">XiaoruLin</h4>
						<span>Undergraduate Internship</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 林小茹 -->

			<!-- 丁雨欣 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Undergraduate/YuxinDing.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">YuxinDing</h4>
						<span>Undergraduate Internship</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 丁雨欣 -->

			<!-- 宋园园 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Undergraduate/YuanyuanSong.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">YuanyuanSong</h4>
						<span>Undergraduate Internship</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 宋园园 -->

			<!-- 王玲 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Undergraduate/LingWang.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">LingWang</h4>
						<span>Undergraduate Internship</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 王玲 -->

			<!-- 沈怡均 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Undergraduate/YijunShen.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">YijunShen</h4>
						<span>Undergraduate Internship</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 沈怡均 -->

			<!-- 倪若冰 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/Undergraduate/RuobingNi.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">RuobingNi</h4>
						<span>Undergraduate Internship</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 倪若冰 -->
		</div> <!-- End row -->
		
	</div> <!-- End container -->
</section> <!-- End section -->