<!-- Start Blog Section
=========================================== -->
<section id="Publication" class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeInDown">
					<h2> Latest <span class="color">Publications</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- FoleyDesigner -->
			<article class="col-lg-4 col-md-6 mb-30 wow fadeInUp" data-wow-duration="500ms"
				data-wow-delay="200ms">
				<div class="post-block">
					<div id="gallery-post" class="media-wrapper">
						<div class="item">
							<img src="images/publications/FoleyDesigner/FoleyDesigner1.png" alt="blog post" class="img-fluid">
						</div>
						<div class="item">
							<img src="images/publications/FoleyDesigner/FoleyDesigner2.png" alt="blog post | Meghna" class="img-fluid">
						</div>
					</div>
					<div class="content">
						<h3><a href="blog.html"> FoleyDesigner</a></h3>
						<p>LLM-based Foley Sound Generation for Videos</p>
						<a class="btn btn-transparent" href="https://arxiv.org/pdf/2604.05731">Paper</a>
					</div>
				</div>
			</article>
			<!-- end FoleyDesigner -->

			<!-- GardenDesigner -->
			<article class="col-lg-4 col-md-6 mb-30 wow fadeInUp" data-wow-duration="500ms"
				data-wow-delay="400ms">
				<div class="post-block">
					<div id="gallery-post" class="media-wrapper">
						<div class="item">
							<img src="images/publications/GardenDesigner/GardenDesigner1.jpg" alt="blog post" class="img-fluid">
						</div>
						<div class="item">
							<img src="images/publications/GardenDesigner/GardenDesigner2.jpg" alt="blog post | Meghna" class="img-fluid">
						</div>
						<div class="item">
							<img src="images/publications/GardenDesigner/GardenDesigner3.jpg" alt="blog post | Meghna" class="img-fluid">
						</div>
					</div>
					<div class="content">
						<h3><a href="blog.html"> GardenDesigner </a></h3>
						<p>LLM-based Garden Design Generation from Text</p>
						<a class="btn btn-transparent" href="https://arxiv.org/pdf/2604.01777">Paper</a>
					</div>
				</div>
			</article>
			<!-- end GardenDesigner -->

			<!-- FilmComposer -->
			<article class="col-lg-4 col-md-6 mb-30 clearfix wow fadeInUp" data-wow-duration="500ms">
				<div class="post-block">
					<div id="gallery-post" class="media-wrapper">
						<div class="item">
							<img src="images/publications/FilmComposer/FilmComposer1.png" alt="blog post" class="img-fluid">
						</div>
						<div class="item">
							<img src="images/publications/FilmComposer/FilmComposer2.png" alt="blog post | Meghna" class="img-fluid">
						</div>
						<div class="item">
							<img src="images/publications/FilmComposer/FilmComposer3.png" alt="blog post | Meghna" class="img-fluid">
						</div>
					</div>
					<div class="content">
						<h3><a href="blog.html"> FilmComposer </a></h3>
						<p>LLM-Driven Music Production for Silent Film Clips</p>
						<a class="btn btn-transparent" href="https://arxiv.org/abs/2503.08147">Paper</a>
					</div>
				</div>
			</article>
			<!-- end FilmComposer -->

			<div class="col-12">
				<div class="all-post text-center">
					<a class="btn btn-main" href="FullPublication1.html">View All Post</a>
				</div>
			</div>
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->