<!-- 
Start Our Team
=========================================== -->

<section id="our-team" class="section">
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center wow fadeInUp" data-wow-duration="500ms">
					<h2>Team <span class="color">Member</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- 李梦甜 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/MengtianLi.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Mengtian Li</h4>
						<span>Assistant Professor</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->

				</div>
			</div>
			<!-- end 李梦甜 -->

			<!-- 翟承硕 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/ChengshuoZhai.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Chengshuo Zhai</h4>
						<span>Master Student (Graduated)</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 翟承硕 -->

			<!-- 姚声祥 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/ShengxiangYao.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Shengxiang Yao</h4>
						<span>Master Student (Graduated)</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 姚声祥 -->

			<!-- 杨凡 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/FanYang.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Fan Yang</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 杨凡 -->
			
			<!-- 白云舒 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/YunshuBai.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Yunshu Bai</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 白云舒 -->

			<!-- 戴坤延 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/KunyanDai.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Kunyan Dai</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 戴坤延 -->

			<!-- 陆毓炜 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/YuweiLu.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Yuwei Lu</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 陆毓炜 -->

			<!-- 熊思帆 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/SifanXiong.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Sifan Xiong</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 熊思帆 -->
			
			<!-- 郭心如 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/XinruGuo.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Xinru Guo</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 郭心如 -->

			<!-- 范艺严 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/YiyanFan.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Yiyan Fan</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 范艺严 -->

			<!-- 熊瑞雪 -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/RuixueXiong.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">RuixueXiong</h4>
						<span>Master Student</span>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end 熊瑞雪 -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->